@charset "utf-8";
/*basic*/
 body{font-family: "Microsoft YaHei","open sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:14px; background-color: #2f4050;}
 ul,li{list-style:none;padding:0;margin:0;}
 i,em{font-style:normal;}
 .login_body{ background-image: url("../img/bj.jpg"); background-size:100% 100%; -moz-background-size:100% 100%; }

.hj_fl{float:left;}
.hj_fr{float:right;}
.clearfix:after,.clearfix:before{content: "";clear:both;display:table;}
.clearfix{zoom:1;clear:both;}
.obj-hide{display:none;}
.ibox-content{overflow:inherit; min-height: 650px}
.btn{border-radius:0;}
.float-e-margins .btn{margin-bottom:0;}
.table-responsive{ overflow-x: inherit;}
.icheckbox.checked {background-position: -48px 0;}
textarea{resize:none;}
.f-c-r{color:#F00;}
.m-t-8 {
  margin-top: 8px;
}
.m-b-n2{margin-bottom: 10px}
.m-b-no{margin-bottom: 0}
.p-r{padding-right:15px }
.m-l-100 {
  margin-left: 100px !important;
}
.dialogH{max-height: 200px; overflow-y: auto; overflow-x:hidden; }
.col-sm-1{min-width:100px;}
i{font-style:normal;}
ul,li{list-style:none;}
input:focus,button:focus{
	border:1px solid #b7bec7;
}
.el-checkbox,.el-radio-button {font-weight: normal;}
.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5{position:relative;}
.units{position: absolute; top: 2px; right: 25px; line-height: 30px;}

.bg-blue{background: #3399FF}
.bg-org{background: #FF9900}

.text-red{color: #ff0000}
.text-org{color: #FF8E00}
.text-gray{color: #b7bec7}

/*.el-upload-list--picture-card .el-progress{ display: none;}*/
.el-upload-list--picture-card .el-progress{width: 90px; height: 90px}
.el-progress .el-progress-circle{width: 90px !important; height: 90px !important;}
.el-dialog--small{width: 550px}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{-webkit-appearance: none !important; }
input[type="number"]{-moz-appearance:textfield;}
.posR{position: relative;}
.picBtn{position: absolute; right: 16px; top: 17px;}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{background-color:#fff;}

.gallery{ width: 100%;}
.gallery li { display: inline-block; padding: 5px; margin: 5px 8px 5px 1px; width: 80px; height: 80px; line-height: 60px; border: 1px solid #DDDDDD; float: left;}
.gallery li:hover, .gallery li.current {padding: 4px;border: 2px solid #2FB2E6;}
.gallery-img-size{max-width: 70px; max-height: 70px;}


.p-l-n{padding-left: 0}
.p-l-md{padding-left: 15px !important}

.icon-opt{font-size: 20px}
.finput{width:50px; border:1px solid #CCC; text-align:center; margin: 0 6px;}
.finput.error{border: 1px dotted #cc5965;}
.w100{width:50px; border:1px solid #CCC; text-align:center}
.w80{width:80px; border:1px solid #CCC; text-align:center}
.w110{width:100px; border:1px solid #CCC; text-align:center}
.w150{width:130px; border:1px solid #CCC; text-align:left}
.picTips{text-align: center; display: inline-block; width: 110px;}
.listImg{height: 25px}
.listDesc{max-width:150px; display: inline-block;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.goodlist em{padding: 0 4px; margin-right: 6px; color: #20a0ff; font-size:12px;margin-top: 5px;background:#fff; display: inline-block;border:1px solid #20a0ff;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
.goodlist em.text-org{border-color:#13ce66;color:#13ce66;}

.nav-third-level li a.active,.nav-second-level li a.active{color: #fff}
.web-pic{width: 230px; margin: 0 10px;border: 1px solid #ccc;}
/*classification*/
.listhead{background-color: #eef1f6; border-top: 1px solid #dfe6ec; border-bottom: 1px solid #dfe6ec;}
.listhead li{width:13%; padding: 14px 0 14px 30px; box-sizing: border-box; line-height: 20px; float: left;}
.listhead li.listTitle,.body-con>div.listTitle{width:61%;}
.body-con{width:100%; display: table; border-bottom: 1px solid #dfe6ec;}
.body-con>div{width:13%; display: table-cell; padding: 14px 0 14px 30px; box-sizing: border-box; line-height: 28px; vertical-align: middle;}
.body-con>div input,
.table tbody tr td input{width:48px; height:28px; padding: 0 5px; border:1px solid #bfcbd9; border-radius:3px; box-sizing: border-box; outline: 0; text-align: center;}
.body-con>div.listTitle .icon{font-size:14px; color:#20a0ff; margin-right: 2px;}
.body-con>div.listTitle .split-icon{font-size:14px; color:#bfcbd9; margin-right: 2px;}
.body-con>div.listTitle input{width:100px; text-align: left; margin-right: 3px;}
.body-con>div.listTitle .button{height:28px; background-color: transparent; padding: 0 3px; font-size:14px; color:#1f2d3d; border:0; outline:0; vertical-align: inherit;}
.body-con>div.listTitle .save-btn{color: #20a0ff;}
.body-con>div.listOpt a{display:inline-block; color:#20a0ff; margin-right: 24px;}

/*.listhead{background-color: #F5F5F6; border: 1px solid #DDDDDD;}*/
/*.listhead li{font-weight: 700}*/
/*.listhead li,.listbody li{ float: left; width: 10%; padding: 8px; text-align: center; }*/
.listbody li{ float: left; width: 10%; padding: 8px; text-align: center; }
.listbody>li{border-bottom: 1px solid #DDDDDD; height: 45px; }

.listbody{background-color: #FFF; }
/*.listhead li.listTitle,.listbody li.listTitle{width: 65%; text-align: left;}*/
/*.listhead li.listOpt,.listbody li.listOpt{width: 15%; text-align: left;}*/
.listbody li.listTitle{width: 65%; text-align: left;}
.listbody li.listOpt{width: 15%; text-align: left;}
.listbody li.listOpt{font-size: 20px}
.listbody li.listTitle input{ padding-left: 10px; border:1px solid #CCC; width: 150px;}

.bigPic{text-align: center; max-height: 400px; overflow-x: hidden; overflow-y: auto;}
.bigPic img{max-width: 620px;}
/*inherit*/


.operation{text-align:right; padding-top:10px; padding-bottom:6px;}
.input_w80{width:80px !important;}
.input_w120{width:120px !important;}

.form-group .r-state{display:inline-block; margin-right:16px; padding-top:4px;}

.el-upload-list--picture-card,.el-upload.el-upload--picture-card{display: inline-block !important;}


/*Home*/
.census{color:#fff;}
.census .census-title{background-color:#2996d1; padding:0 8px; margin:0; font-size:12px; font-family:"YaHei"; line-height:26px; font-weight:normal;}
.census .census-data{overflow:hidden; padding:15px 8px; background-color:#32a3e1;}
.census .census-data i{float:left; font-size:50px;}
.census .census-data span{float:right; font-size:25px; line-height:50px;}
.census .view-all{background-color:#46ade4; display:block; padding:0 8px; line-height:26px; color:#fff;}
.latest-orders{margin-bottom:15px;}
.latest-orders .project-completion{padding:10px 8px; border-top:solid 1px #e7eaec;}
.latest-orders .project-completion:first-child{border-top:0;}



/*upload pic*/
.form-group .imgList{list-style:none; padding:0; margin:0;}
.form-group .imgList li{position:relative; float: left; margin: 10px 20px 0 0;}
.form-group .imgList li .img-box{width:108px; height:108px; display:table-cell; background-color:#f2f2f2; text-align:center; vertical-align:middle;}
.form-group .imgList li img{max-width:108px; max-height:108px; vertical-align:middle;}
.imgList li .img-del{width:25px; height:25px; display:block; background-image:url(../img/uploadicon.png); background-position:0 0; position:absolute; right:0; top:0;}
.imgList li .img-del:hover{background-position:-30px 0;}
.imgList li .move-btn{width:100%; height:24px; padding:0 12px; background-color:rgba(0,0,0,0.7); overflow:hidden; position:absolute; bottom:0; left:0; display:none;}
.imgList li:hover .move-btn{display:block;}
.imgList li .move-btn a{width:14px; height:12px; display:block; margin-top:6px; background-image:url(../img/uploadicon.png); background-repeat:no-repeat;}
.imgList li .move-btn .move-prev{background-position:-60px 0; float:left;}
.imgList li .move-btn .move-next{background-position:-78px 0; float:right;}
.form-group .imgList li.upload a{width:108px; height:108px; display:block; /*background-color:#f3f9f9;*/ border:dashed 1px #6b9cce; text-align:center;}
.form-group .imgList li.upload a img{width:40px; height:40px; margin-top:30px;}
.size_tips{ width:100px; position:absolute; right:-110px; top:50px; line-height: 20px;color: #FF0000;}
.imgList li .mask{width:100%; height:100%; background-color:rgba(160,160,160,0.8); position:absolute; left:0; top:0;}
.imgList li .mask .tips{font-size:12px; color:#fff; text-align:center; line-height:20px; margin-top:42px;}
.imgList li .mask img{width:15px; height:15px; display:block; margin:0 auto;}



.item_select{width:158px; float:left; padding-left:10px; height:34px; line-height:34px; background:#FFF; border:#E5E6E7 1px solid; position:relative; cursor:pointer; z-index:1; margin:5px 0 6px 0;}
.item_select em{width:14px;height:7px;background:url("../img/icon.png") -30px -13px no-repeat;position:absolute;display:inline-block;right:10px;top:12px;}
.item_select em.select_up{background:url("../img/icon.png") -30px -13px no-repeat;}
.item_select i{width:120px; height:33px; line-height:33px; display:block; font-size:12px; color:#000; overflow:hidden;}
.item_select .select_box{width:158px; max-height:200px; overflow-y:auto; overflow-x:hidden; background:#FFF; border:#E5E6E7 1px solid; border-top:none; position:absolute; left:-1px; top:30px; cursor:pointer;}
.select_box ul{margin:0; padding:0; overflow:hidden}
.item_select .select_box li{width:158px; padding-left:10px; height:30px; line-height:30px; list-style:none; overflow:hidden; margin:0}
.select_box li:hover,.select_box_checkde{ background-color:#F0F0F0; color:#000;}


/*Blue style*/
.blue-style{background:#2eb3e5;}
/*header*/
.nav-header{padding:10px;/* border-bottom: none !important;*/ }
.nav-header .nav-header-img{height:33px; line-height:33px; text-align:center; vertical-align:middle}
.nav-header .nav-header-img img{ max-height:32px; max-width:200px; }
.logo-title{width:0px;  font-size: 16px; font-weight: 700;  float: left;  padding: 10px; height: 30px;  line-height: 30px;  color: #666;  font-family: "YaHei";}

/*2017-10 update*/
.navbar{min-height: 53px;}
a.minimalize-styl-2{color: #9DA7C0}
.minimalize-styl-2 i{ font-size: 23px}
.logo-element{font-size: 16px; height: 54px;}
body.mini-navbar .navbar-default .nav li .sec-class .arrow {
  display: inline-block;
  margin-top: 8px;
}
body.mini-navbar .nav .nav-header{background: none;}

body.mini-navbar .nav-second-level li:last-child{margin-bottom: 0}

body.mini-navbar .navbar-default .nav > li > .nav-third-level li a{padding-left: 27px;}

.side-menu > li > a {
  font-size: 14px;
  padding:0 20px 0 25px;
  height: 53px;
  line-height: 53px;
}
.side-menu > li > a .arrow{margin-top: 20px;}

.head-top-right{ width: 500px; float: right; text-align: right; padding-right: 30px; margin-top: 9px;}
.head-top-right .search{width: 240px; display: inline-block; margin-right: 40px; position: relative; }
.head-top-right .search>em{position: absolute; right: 12px; top: 10px; z-index: 2; font-size: 12px; color: #999; background: #fff;}

.head-top-right .search>.Searchs{position: absolute; width:100%; top: 35px; left: 0; background-color: #fff; border: 1px #E5E6E7 solid;}
.head-top-right .search>.Searchs ul{ max-height: 200px; overflow:auto;}
.head-top-right .search>.Searchs ul li{ text-align: left; border-bottom: 1px #E5E6E7 solid}
.head-top-right .search>.Searchs ul li a{display: block;  padding-left: 10px; height: 30px; line-height: 30px;}
.head-top-right .search>.Searchs ul li a:hover{background-color: #F5F5F6}
.lastBtn{width: 100%; height: 30px; line-height: 30px; display: inline-block;  text-align: center;}
.head-top-right>span>img{margin-bottom: 5px; max-width: 32px; max-height: 32px; margin-right: 10px}

.dropList i{color: #B4BCD3}
.font12{font-size: 12px;}


/*crumbs*/
.crumbs-tit{font-size: 18px; margin-right: 10px}
.crumbs{ height: 54px; line-height: 53px; font-size:14px; display: inline-block;}
.crumbs a{color:#676a6c}
.border-none{border-bottom: none;}



.ibox-title{position:relative;}
.rt-btn{ position:absolute; right:20px; top:9px}
.rt-btn .btn{font-size:12px; padding:4px 8px;}

.col-sm-0{position:relative;min-height:1px;padding-right:15px;padding-left:15px; float:left;width:12.33333333%}
.nav>li{border-bottom: 1px solid #3c4661;}
.nav > li.active{border-left: none; }
/*v-form*/
.form-control-callback .error{color: #cc5965; display: inline-block; margin-left: 5px; font-size: 14px}
.form-control-callback .valid{color: #5cb85c; display: none;}

/*upload img*/
.avatarlist-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 108px;
    height: 108px;
    text-align: center;
  }
  .avatarlist-uploader .el-upload:hover {
    border-color: #20a0ff;
  }
  .avatarlist-uploader .el-upload-list--picture-card .el-upload-list__item {
    width: 108px;
    height: 108px;
  }
  .el-upload__input{display: none !important}
  .v-modal{display: none !important}


  .avatar-uploader .el-upload,.avatarlist-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 108px;
    height: 108px;
    line-height: 108px;

    vertical-align: middle;
    display: table-cell;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #20a0ff;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 108px;
    height: 108px;
    line-height: 108px;
    text-align: center;
  }
  .el-upload__input{display: none !important}
  .avatar {
    max-width: 108px;
    max-height: 108px;
  }



/*operation*/
.t-right{text-align: right; padding-right: 20px !important}
.opt{text-align:right; position:relative;}
.opt-down{ cursor:pointer; white-space: nowrap;color:#9da7c0;}
.opt span>i{font-size:16px;}
.opt ul{padding:10px 20px; border:#E7E7E7 1px solid; position:absolute; right:20px;  background:#FFF; z-index:1;}
.opt ul li{text-align:left; height:30px; line-height:30px; padding:0; margin:0}
.opt ul li a{color:#676a6c; white-space: nowrap;font-size: 14px;}
.opt:hover span.icon-guanli,.opt span.active,.opt ul li a:hover{color:#2c99ff}
.opt ul li.disabled a{color:#CCC}

.el-input__icon{
  color:#bfcbd9 !important;
}
/*.el-input__inner{*/
  /*border-radius:0 !important;*/
  /*border-color: #e5e6e7 !important;*/
/*}*/
/*.el-input__inner:focus{*/
  /*border-color:#2FB2E6 !important;*/
/*}*/
.el-switch{margin-bottom: 2px;}

.form-inline .btn{border-radius:4px !important;border:none !important;}
.btn-group button.btn-default{background:#eef1f6;color:#1f2d3d;}
.ibox-group{background:#fff;padding:20px;}
.form-inline .btn .shop{font-size:15px;margin-right:7px;}
.batch{display:inline-block;}
.batch .batch-text{width:140px;height:36px;line-height:36px;padding:0 20px;display:inline-block;background:#f7ba2a;color:#fff;position:relative;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;font-size:14px;}
.batch .batch-text .shop{position:absolute;right:20px;}
.batch-btn{padding:9px 15px;background:#f7ba2a;color:#fff;border:none;}
.batch-btn:hover{background:#f7ba2a;color:#fff;}
.table-main{min-height:480px;background:#fff;}
.table-responsive .table thead tr{border-top: 1px solid #dfe6ec;}
.table-responsive .table th,.table-responsive .table td{font-size:12px;border-top:none;border-left:none;border-right:none;padding:13px;text-align:left;}
.el-pagination{padding:2px 20px;}
.ibox-content .table tr th.opt-select{width:62px;}
.ibox-content .table tr th.table-checkbox{width:27px;}
.ibox-content .form-inline .m-r-sm{margin-right:10px;}

.ibox-content .form-inline,.ibox-content .btn-group{
  padding: 0 20px;
  position: relative;
}
.ibox-content .btn-group button{
  outline: 0;
  border: 0;
  padding: 8px 15px;
  border-radius: 4px !important;
  margin-bottom: 10px;
}
.ibox-content .btn-group button:active{
  outline:0;
}
.ibox-content .form-inline .el-input{
  width:200px;
}
.ibox-content .add-btn{
  display: inline-block;
  line-height: 20px;
  white-space: nowrap;
  cursor: pointer;
  background-color: #20a0ff;
  padding:8px 15px;
  border-radius: 4px;
  font-size: 15px;
  color:#fff;
  position: absolute;
  right: 20px;
  bottom: 10px;
}
.ibox-content .add-btn:hover{
  opacity: 0.8;
}
.ibox-content .form-inline .el-button.search-btn{
  margin-bottom: 10px;
  margin-right: 120px;
}
.ibox-content .form-inline .el-button.m-b-sm{
  margin-bottom: 10px;
}
.ibox-content .form-inline .el-button.m-r-xs{
  margin-right: 5px;
}
.ibox-content .form-inline .el-button+.el-button{
  margin-left: 0;
}
.single-opt{
  display:inline-block;
  color:#20a0ff;
}
.ibox-content .hd-title{
  padding:8px 18px;
  position: relative;
  line-height: 20px;
  border-bottom: 1px solid #eaeefb;
  margin-bottom: 40px;
  margin-top:-8px;
}
.ibox-content .hd-title:before{
  width:4px;
  height: 18px;
  content: "";
  background-color: #20a0ff;
  border-radius: 2px;
  position: absolute;
  left:4px;
  top:50%;
  margin-top: -9px;
}
.form-group{
  margin-bottom: 20px;
}
.form-group .control-label{
  font-weight: normal;
  margin-right: -15px;
  padding-top:8px;
}
.form-group .form-control{
  height: 36px;
}
.form-control.error + .form-control-callback{
  margin-top:5px;
  margin-bottom: -10px;
}
.hr-line-dashed{
  border-color: #eaeefb;
  margin-top:40px;
}
