.icon-color{ color: #2FB2E6;}
.bg-color{ background-color: #2FB2E6; color: #FFF;}
.nav > li.nav-current,.nav > li.nav-current a{color: #FFF; background-color: #20a0ff;}
.nav > li.nav-current a:hover,.nav > li.nav-current a:focus{background-color: #20a0ff;}
.nav-icon-color{ color: #2FB2E6;}